<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <h1 align="center">Bus Routes</h1>
      <div class="row">
        <div class="col-md-6">
          <label>Select Route</label>
          <select name="bus_route" data-live-search="true" id="bus_route" class="form-control" title="Select Route">
            {% for row in busroutes %}
            <option value="{{row.route_id}}">{{row.route_label}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label>Select Direction</label>
          <select name="direction" data-live-search="true" id="direction" class="form-control" title="Select Direction"></select>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#bus_route").selectpicker();
        $("#direction").selectpicker();

        function load_data(type, category_id) {
          $.ajax({
            url: "/busroute/" + category_id,
            method: "GET",
            success: function (data) {
              var html = "";
              for (var count = 0; count < data.length; count++) {
                  html += '<option value="' + data[count].direction_id + '">' + data[count].direction_name + "</option>";
              }
              if (type=="routeData"){
                $("#bus_route").html(html);
                $("#bus_route").selectpicker("refresh");
              }
              else{
                $("#direction").html(html);
                $("#direction").selectpicker("refresh");
              }
            },
          });
        }

        $("#bus_route").on("change", function() {
          var category_id=$("#bus_route").val();
          load_data("directionData", category_id);
        });
      });
    </script>

   </body>
</html>